extends layout

block title
	title Главная

block content
			
	.wrapper
		include header.pug

		main.main
			section.section--page-header
				.container
					.section__wrap.section__wrap--page-header
						article.breadcrums
							a.breadcrums__link(href="#") Home
							a.breadcrums__link(href="#") Dogs
							a.breadcrums__link(href="#") Grooming
						h1.title.title--page The Best Dog Shampoo (Review) in 2020
						time.time.time--page(datetime="2020-04-10") Last Update: 10 Apr 2020
						
			section.section.section--prizes
				.container
					.section__wrap.section__wrap--prizes
												
						- const prizeTitle = ['Best Choice', 'Premium Pick', 'Best Value'];
						- const prizeDescrip = ['Pro Pet Works All Natural Oatmeal Dog Shampoo', 'Douxo Chlorhexidine PS + Climbazole Shampoo', 'Wahl Color Bright Dog Shampoo'];
						
						- for (let i = 0; i < 3; i++)
						
							.prize
								.prize__icon
								h3.prize__title=prizeTitle[i]
								picture.prize__img.img
									img.img__item(src=`img/shampoo-${i+1}.png` alt=`shampoo-${i+1}`)
								p.prize__descrip=prizeDescrip[i]
								a.bnt.btn--prize(href="#") check latest price
								
			section.section.section--review
				.container.container--small
					.section__wrap.section__wrap--review
						article.review
							.review__author
								picture.review__avatar.img
									img.img__item(src="img/avatar.png" alt="user avatar")
								.review__wrap
									p.review__user
										span.review__guide Your guide to this review today is by veterinarian
										span.review__name Dr. Tracy douglas
									time.time.time--review(datetime="17:06") Published 17:06 pm
								a.btn.btn--review(href="#") Hide Contects
								
							article.recommend
								h2.recommend__title Contents
								ol.recommend__list
									
									- const recommend = ['The Best Dog Shampoo', '1. Pro Pet Works All Natural Oatmeal Dog Shampoo and Conditioner', '2. Veterinary Formula Professional Dog Shampoo', '3. Earthbath All Natural Organic Dog Shampoo', '4. Honeydew Colloidal Oatmeal Dog Shampoo', '5. Furminator deShedding Premium Pet Shampoo', '6. Douxo Chlorhexidine PS + Climbazole Pet Shampoo', '7. Bexley Labs Curaseb Shampoo for Dogs', '8. Fieldworks Supply Natural Dog Wash', '9. Wahl Lavender Waterless No Rinse Pet Shampoo', '10. Paws & Pals Natural Dog Shampoo and Conditioner', '11. Nootie Oatmeal Dog Wash with Soothing Aloe', '12. Burt’s Bees Tearless Puppy Shampoo', '13. 4-Legger Certified Organic Dog Shampoo', '14. Wahl Color Bright Dog Shampoo', 'Vet’s Best Allergy Itch Relief Dog Shampoo'];
									
									- for (let i = 0; i < 16; i++)
									
										li.recommend__item=recommend[i]
									
							.content
								p Dog shampoos are important #[a(href="#") canine care products] that are geared primarily for the maintenance of their hygiene. Some products actually come with different formulations to help in the control and management of pests like fleas and ticks. However useful, some canine shampoos contain harsh ingredients that may pose a threat to your #[a(href="#") pet’s health]. It is therefore, important for you to learn how to choose the correct hair care product for your pet. We have researched the market for the best dog shampoo to help you get started.
								
			section.section.setion--shampoo
				.container
					.section__wrap.section__wrap--shampoo
						h2.title.title--section.title--section-shampoo  The Best Dog Shampoos
						
						- const shampooTitle = ['Pro Pet Works All Natural Oatmeal Dog Shampoo and Conditioner', 'Veterinary Formula Professional Dog Shampoo', 'Earthbath All Natural Organic Dog Shampoo'];
						- const shampooDescrip = ['Designed to be the best hypoallergenic dog shampoo, the Pro Pet Works Organic Oatmeal and Aloe canine hair care product comes enriched with vitamins to help improve the overall health of your pooch’s coat while also making sure it is safe for canines with allergies. It is both soothing and therapeutic, giving your pet’s skin to regenerate and its coat to grow to its optimum health. It’s ideal for restoring the natural oils in your pet’s coat, reliving itchiness and dry skin, conditioning and moisturizing its coat, and soothing its sensitive skin.', 'Veterinary Formula Clinical Care is a unique medicated shampoo for dogs that is specific for parasitic organisms, although it is also effective against bacterial and fungal species. Aside from its antiparasitic properties, Veterinary Formula is also formulated to treat seborrheic dermatitis which is often characterized by severe skin inflammation, waxy or greasy integument, and dry, flaky, scaly skin resembling dandruff. It’s also one of the top rated dog shampoo in the market today.', 'Looking for organic dog shampoo? Look no further as Earthbath is here. Earthbath boasts of a unique blend of all-natural ingredients that will not irritate your pet’s skin. Its formulation is 100% biodegradable ensuring safety in the environment. Earthbath is available in a variety of natural blends such as oatmeal and aloe, peppermint and eucalyptus, and tea tree and aloe, just to name a few. This gives your pooch a lingering fragrance that keeps your pet smelling fresh naturally.'];
						- const features = [['Contains oatmeal, almond oil, and aloe vera and other natural and organic ingredients','Enriched with vitamins and amino acids', 'Contains no artificial fragrance, soap, alcohol, and irritants', 'Formulated for sensitive and dry skin', 'Top dog shampoo for itchy skin'],['Especially formulated for canine seborrheic dermatitis',' Contains salicylic acid and micronized sulfur', 'Contains oatmeal and natural coconut oil-based cleansers', 'Antibacterial, antifungal, and antiparasitic properties'], ['Contains oatmeal, aloe vera, plant-derived cleaners, and vitamins', 'For use on sensitive, itchy, and dry skin', 'pH-balanced, natural, and soap-free formulation', 'Pleasantly mild, non-irritating smell', 'Best smelling dog shampoo']];
						- const specifications = [{Brand: 'Pro Pet Works', Model: 'k3710', Weght: '1 pounds'}, {Brand: 'Veterinary Formula Clinical Care', Model: 'FG01315', Weght: '1.15 pounds'}, {Brand: 'Earthbath', Model: 'THREP0034', Weght: '1.06 pounds'}];
						- const specifFields = ['Brand', 'Model', 'Weght'];
						- const actionTitle = ['pros', 'cons'];
						- const pros = ['Reduce Shedding', 'Prevents irritation of the skin', 'Moistorizes the skin'];
						- const cons = ['Using too much can irritate your dog skin', 'Might not work for dogs that are allergic to certain ingridients'];
						
						- for (let i = 0; i < 3; i++)
						
							article.shampoo(class=`shampoo--${(i % 2) ? 'right' : 'left'}`)
								.shampoo__wrap
									.shampoo__wrap-img
										picture.shampoo__img.img
											img.img__item(src=`img/shampoo-${i+1}.png` alt=`shampoo-${i+1}`)
									.shampoo__content
										.shampoo__descrip
											h3.shampoo__title.shampoo__title--main=shampooTitle[i]
											p.shampoo__text=shampooDescrip[i]
										.shampoo__blocks
											.shampoo__block.shampoo__block--features
												h4.shampoo__title.shampoo__title--block Key Features
												ul.shampoo__list
													
													- for (let j = 0; j < features[i].length; j++)
													
														li.shampoo__item.shampoo__item--features=features[i][j]
													
											.shampoo__block.shampoo__block--specif
												h4.shampoo__title.shampoo__title--block Specifications
												ul.shampoo__list
													
													- for (let k = 0; k < specifFields.length; k++)
													
														li.shampoo__item.shampoo__item--specif
															span.shampoo__name=specifFields[k] + ':'
															span.shampoo__value=specifications[i][specifFields[k]]
															
								article.action
																		
									.action__block.action__block
										h3.action__title.action__title--pros Pros
										ul.action__list
											
											- for (let k = 0; k < pros.length; k++)
											
												li.action__item=pros[k]
												
									.action__block.action__block
										h3.action__title.action__title--cons Cons
										ul.action__list
											
											- for (let k = 0; k < cons.length; k++)
											
												li.action__item=cons[k]
												
								a.bnt.btn--prize(href="#") check latest price

				
		include footer.pug
