extends includes/layout

block title
	title Главная

block content
			
	.wrapper
		include includes/header.pug

		main.main
			section.section.section--page-header
				.container.container--large
					.section__wrap.section__wrap--page-header
						article.breadcrums
							a.breadcrums__link(href="#") Home
							a.breadcrums__link(href="#") Dogs
							a.breadcrums__link(href="#") Grooming
						h1.section__title.section__title--main
							| The Best Dog Shampoo (Review) in 2020
						time.time(datetime="2020-04-10")
							| Last Update: 10 Apr 2020
						
			section.section.section--prize
				.container.container--large
					.slider.slider--prize
						.slider__content.slider__content--prize
			
							each prizeItem in prize
								- const { title: prizeTitle = '', descrip: prizeDescrip = '', img: prizeImg = '', icon: prizeIcon = '' } = prizeItem;
			
								article.prize
									.prize__icon
										svg.icon(class=`icon--${prizeIcon}`)
											use.icon__item(xlink:href=`#${prizeIcon}`)
									h3.prize__title=prizeTitle
									picture.prize__img.img
										source.img__item(srcset=`img/${prizeImg}.webp` type="image/webp")
										source.img__item(srcset=`img/${prizeImg}.jp2` type="image/jp2")
										img.img__item(src=`img/${prizeImg}.png` alt=`${prizeImg}`)
									p.prize__descrip=prizeDescrip
									span.btn.btn--main
										| check latest price
									a.prize__link(href="#")
											
			section.section.section--review
				.container.container--small
					.section__wrap.section__wrap--review
						.author.author--review
							.author__item.author__item--review
								picture.author__avatar.author__avatar--review.img
									source.img__item(srcset="img/avatar.webp" type="image/webp")
									source.img__item(srcset="img/avatar.jp2" type="image/jp2")
									img.img__item(src="img/avatar.png" alt="user avatar")
								header.author__header.author__header--review
									p.author__title
										span.author__guide
											| Your guide to this review today is by veterinarian
										span.author__name.author__name--review
											| Dr. Tracy douglas
									time.time(datetime="17:06")
										| Published 17:06 pm
								a.btn.btn--inline.btn--inline-review(href="#")
									| Show Contects
									small.btn__plus
								
							article.recommend
								h2.recommend__title
									| Contents
								ol.recommend__list
																		
									each recommendItem in recommend
										li.recommend__item=recommendItem
									
							.author__content.author__content--review
								p.author__descrip.author__descrip--review.text.text--main
									| Dog shampoos are important #[span.highlight canine care products] that are geared primarily for the maintenance of their hygiene. Some products actually come with different formulations to help in the control and management of pests like fleas and ticks. However useful, some canine shampoos contain harsh ingredients that may pose a threat to your #[span.highlight pet’s health]. It is therefore, important for you to learn how to choose the correct hair care product for your pet. We have researched the market for the best dog shampoo to help you get started.
								
			section.section.section--shampoo
				.container.container--large
					.section__wrap.section__wrap--shampoo
						h2.section__title.section__title--shampoo
							| The Best Dog Shampoos
						
						- const specifFields = ['Brand', 'Model', 'Weght'];
						- const actionTitle = ['pros', 'cons'];
						
						- for (let i = 0; i < shampoo.length; i++)
							- const { title: shampooTitle = '', descrip: shampooDescrip = '', img: shampooImg = '', features = [], specifications = {}, pros = [], cons = [] } = shampoo[i];
						
							article.shampoo(class=`shampoo--${(i % 2) ? 'right' : 'left'}`)
								.shampoo__content
									.shampoo__wrap-img
										picture.shampoo__img.img
											source.img__item(srcset=`img/${shampooImg}.webp` type="image/webp")
											source.img__item(srcset=`img/${shampooImg}.jp2` type="image/jp2")
											img.img__item(src=`img/${shampooImg}.png` alt=`${shampooImg}`)
									h3.shampoo__title.shampoo__title--main=shampooTitle
									p.shampoo__descrip.text.text--main=shampooDescrip
									.shampoo__blocks
										.shampoo__block.shampoo__block--features
											h4.shampoo__title.shampoo__title--block
												| Key Features
											ul.shampoo__list
												
												each featuresItem in features
													li.shampoo__item.shampoo__item--features.text.text--main=featuresItem
										
										.shampoo__block.shampoo__block--specif
											h4.shampoo__title.shampoo__title--block
												| Specifications
											ul.shampoo__list
										
												each specifFieldsItem in specifFields
													li.shampoo__item.shampoo__item--specif
														span.shampoo__name.text.text--main=specifFieldsItem + ':'
														span.shampoo__value.text.text--main=specifications[specifFieldsItem]
															
								article.action
									.action__block.action__block
										h3.action__title.action__title--pros
											| Pros
										ul.action__list
											
											each prosItem in pros
												li.action__item.text.text--main=prosItem
												
									.action__block.action__block
										h3.action__title.action__title--cons
											| Cons
										ul.action__list
											
											each consItem in cons
												li.action__item.text.text--main=consItem
												
								a.btn.btn--main(href="#")
									| check latest price
								
			section.section.section--context
				.container.container--small
					.section__wrap.section__wrap--context
						include includes/content
					
					.section__wrap.section__wrap--author
						article.social.social--author
							ul.social__list
								
								- const socialAuthor = ['fbookA', 'instaA', 'twitA'];
								
								each socialAuthorItem in socialAuthor
									li.social__item.social__item--author
										a.social__link.social__link--author(href="#" target="_blank")
											svg.icon.icon--social-author
												use.icon__item(xlink:href=`#${socialAuthorItem}`)
							
						article.author.author--content
							.author__item.author__item--content
								picture.author__avatar.author__avatar--content.img
									source.img__item(srcset="img/avatar.png" type="image/webp")
									source.img__item(srcset="img/avatar.png" type="image/jp2")
									img.img__item(src="img/avatar.png" alt="avatar")
								header.author__header.author__header--content
									span.author__name.author__name--content
										| dr. Tracy Douglas
									span.author__position.author__position--content
										| General Veterinarian
								.author__content.author__content--content
									p.author__descrip.author__descrip--content
										| General Practice Veterinarian, currently working at the Glenwood Veterinary Clinic, Glenwood Springs, Colorado. #[br]Dr. Douglas began her veterinary career as a Veterinary Nurse in Highton Veterinary Clinic, Highton Victoria, and then as an Emergency Veterinarian in Uintah Pet Emergency, Colorado Springs, Colorado. Tracy is particularly interested in surgery, neurology and internal medicine, which gives her a well-rounded knowledge on animal health and well-being. She received her Doctorate of Veterinary Medicine from the University of Melbourne, while her undergraduate bachelor of science is from the United States Military Academy at West Point, New York.
								span.btn.btn--inline.btn--inline-author
									| Read More
									small.btn__plus
								
			section.section.section--faq.faq
				.container.container--large
					.section__wrap.section__wrap--faq
						h2.section__title.section__title--faq
							| Frequelntly Asked Questions
						p.section__subtitle.section__subtitle--faq
							| We have selected the most popular questiond of our users. Take a look, maybe it will be interesting for you too.
						.faq__content
							.faq__list
							
								each faqItem in faq
									- const { title: faqTitle = '', descrip: faqDescrip = '' } = faqItem;
								
									.faq__item
										header.faq__header
											h3.faq__title=faqTitle
											small.faq__plus
										.faq__wrap
											p.faq__text=faqDescrip
										
						a.btn.btn--main.btn--main-faq(href="#")
							| show more
						
			section.section.section--related
				.container.container--large
					.section__wrap.section__wrap--related
						h2.section__title.section__title--related
							| Related Posts
						p.section__subtitle.section__subtitle--related
							| We have selected the top related posts for our users. Take a look, maybe it will be interesting for you too.
						
						.slider.slider--post
							.slider__content.slider__content--post
							
								each postItem in post
									- const { title: postTitle = '', descrip: postDescrip = '', img: postImg = '' } = postItem;
								
									article.post.post--item
										picture.post__img.img
											source.img__item(srcset=`img/${postImg}.webp` type="image/webp")
											source.img__item(srcset=`img/${postImg}.jp2` type="image/jp2")
											img.img__item(src=`img/${postImg}.png` alt=`${postImg}`)
										.post__content
											.post__wrap
												h3.post__title.post__title--item=postTitle
												p.post__descrip=postDescrip
											span.btn.btn--inline.btn--inline-post
												| Read More
												small.btn__plus
										a.post__link(href="#")
				
			section.section.section--possibly
				.container.container--large
					.section__wrap.section__wrap--possibly
						h2.section__title.section__title--possibly
							| You May Also Like This Posts
						ul.list.list--post
							
							each possiblyItem in possibly
								li.list__item.list__item--post
									a.post.post--link
										h3.post__title.post__title--link=possiblyItem

		include includes/footer.pug
