extends layout

block title
	title Главная

block content
			
	.wrapper
		include header.pug

		main.main
			section.section--page-header
				.container
					.section__wrap.section__wrap--page-header
						article.breadcrums
							a.breadcrums__link(href="#") Home
							a.breadcrums__link(href="#") Dogs
							a.breadcrums__link(href="#") Grooming
						h1.title.title--page The Best Dog Shampoo (Review) in 2020
						time.time.time--page(datetime="2020-04-10") Last Update: 10 Apr 2020
						
			section.section.section--prizes
				.container
					.section__wrap.section__wrap--prizes
												
						- for (let i = 0; i < prize.length; i++)
							- const { title: prizeTitle = '', descrip: prizeDescrip = '', img: prizeImg = '' } = prize[i];
						
							.prize
								.prize__icon
								h3.prize__title=prizeTitle
								picture.prize__img.img
									img.img__item(src=`img/${prizeImg}.png` alt=`${prizeImg}`)
								p.prize__descrip=prizeDescrip
								a.bnt.btn--prize(href="#") check latest price
								
			section.section.section--review
				.container.container--small
					.section__wrap.section__wrap--review
						article.review
							.review__author
								picture.review__avatar.img
									img.img__item(src="img/avatar.png" alt="user avatar")
								.review__wrap
									p.review__user
										span.review__guide Your guide to this review today is by veterinarian
										span.review__name Dr. Tracy douglas
									time.time.time--review(datetime="17:06") Published 17:06 pm
								a.btn.btn--review(href="#") Hide Contects
								
							article.recommend
								h2.recommend__title Contents
								ol.recommend__list
																		
									- for (let i = 0; i < recommend.length; i++)
									
										li.recommend__item=recommend[i]
									
							.content
								p Dog shampoos are important #[a(href="#") canine care products] that are geared primarily for the maintenance of their hygiene. Some products actually come with different formulations to help in the control and management of pests like fleas and ticks. However useful, some canine shampoos contain harsh ingredients that may pose a threat to your #[a(href="#") pet’s health]. It is therefore, important for you to learn how to choose the correct hair care product for your pet. We have researched the market for the best dog shampoo to help you get started.
								
			section.section.setion--shampoo
				.container
					.section__wrap.section__wrap--shampoo
						h2.title.title--section.title--section-shampoo  The Best Dog Shampoos
						
						- const specifFields = ['Brand', 'Model', 'Weght'];
						- const actionTitle = ['pros', 'cons'];
						
						- for (let i = 0; i < shampoo.length; i++)
						
							- const { title: shampooTitle = '', descrip: shampooDescrip = '', img: shampooImg = '', features = [], specifications = {}, pros = [], cons = [] } = shampoo[i];
						
							article.shampoo(class=`shampoo--${(i % 2) ? 'right' : 'left'}`)
								.shampoo__wrap
									.shampoo__wrap-img
										picture.shampoo__img.img
											img.img__item(src=`img/${shampooImg}.png` alt=`${shampooImg}`)
									.shampoo__content
										.shampoo__descrip
											h3.shampoo__title.shampoo__title--main=shampooTitle
											p.shampoo__text=shampooDescrip
										.shampoo__blocks
											.shampoo__block.shampoo__block--features
												h4.shampoo__title.shampoo__title--block Key Features
												ul.shampoo__list
													
													- for (let j = 0; j < features.length; j++)
											
														li.shampoo__item.shampoo__item--features=features[j]
											
											.shampoo__block.shampoo__block--specif
												h4.shampoo__title.shampoo__title--block Specifications
												ul.shampoo__list
											
													- for (let k = 0; k < specifFields.length; k++)
											
														li.shampoo__item.shampoo__item--specif
															span.shampoo__name=specifFields[k] + ':'
															span.shampoo__value=specifications[specifFields[k]]
															
								article.action
																		
									.action__block.action__block
										h3.action__title.action__title--pros Pros
										ul.action__list
											
											- for (let k = 0; k < pros.length; k++)
											
												li.action__item=pros[k]
												
									.action__block.action__block
										h3.action__title.action__title--cons Cons
										ul.action__list
											
											- for (let k = 0; k < cons.length; k++)
											
												li.action__item=cons[k]
												
								a.bnt.btn--prize(href="#") check latest price

				
		include footer.pug
